/* 全局通用样式 START ------------------------------------------*/
body {
  /* font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, '\5b8b\4f53',
    sans-serif; */
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  /*border:0;
	*/
  /*outline:0;
	*/
  /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.clearfix::after {
  content: '';
  height: 0;
  line-height: 0;
  overflow: hidden;
  clear: both;
}

/* 文本单行超出省略-- 1/2/3/4 行 */
.txt-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.txt-ellipsis-2 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-ellipsis-3 {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-ellipsis-4 {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 返回顶部
#return-top {
  width: 50px;
  height: 50px;
  background-color: #d60110;
  color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  display: none;
}

#return-top a {
  color: white;
  line-height: 20px;
  display: block;
  margin: 5px;
}

/* 全局通用样式 END ------------------------------------------*/

/* 组件全局样式覆盖 START ------------------------------------------*/
/* container 宽度 1200px */
.container {
  width: 1200px;
  padding: 0;
}

/* 按钮聚焦 黑色边框 */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  /* box-shadow: none; */
}

/* 栅格布局--清除默认 margin padding */
.row,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  margin: 0;
  padding: 0;
}

/* 组件全局样式覆盖 END ------------------------------------------*/
