// ----------------------- 页面内容部分样式-START ---------------------------
// 官网主图
.main-pic {
  .box {
    img {
      width: 100%;
    }
  }
}

// 方案标签
.project-tags {
  margin: 27px 0 24px 0;
  .tag-list {
    .list-item {
      width: 400px;
      height: 115px;
      display: inline-block;
      border: 1px solid #ababab;
      &:nth-child(2) {
        border-left-width: 0;
        border-right-width: 0;
      }
      .img {
        float: left;
        margin: 38px 26px 0;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .desc {
        float: left;
        width: 295px;
        h3 {
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 20px;
          color: #1f1a14;
        }
        p {
          color: #595858;
        }
      }
    }
  }
}

// 睿选优课课程体系
.course-system {
  height: 990px;
  background-color: #e6e6e6;
  .title {
    height: 228px;
    text-align: center;
    padding-top: 60px;
    h2 {
      font-size: 28px;
      color: #211914;
    }
    hr {
      margin: 30px auto 20px auto;
      width: 126px;
      border-top-width: 3px;
      border-color: #909090;
    }
    p.desc {
      font-size: 18px;
      color: #585757;
    }
  }
  .content {
    width: 100%;
    height: 583px;
    background-color: #fff;
    .type-list {
      padding-top: 60px;
      text-align: center;
      .list-item {
        width: 360px;
        display: inline-block;
        &:nth-child(2) {
          margin: 0 24px;
        }
        .info {
          width: 360px;
          height: 372px;
          background-size: 100% 100%;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            h3 {
              margin-top: 55px;
              font-size: 24px;
              height: 24px;
              line-height: 24px;
              color: #fff;
            }
            hr {
              width: 42px;
              border-top-width: 2px;
              border-color: #fff;
              margin: 30px auto 20px auto;
            }
            .btn {
              background-color: #d60110;
              border: 1px solid #d60110;
              color: #fff;
              width: 124px;
              height: 36px;
            }
          }
        }
        .desc {
          margin-top: 26px;
          color: #595858;
          line-height: 26px;
          text-align: left;
        }
      }
    }
  }
  .go-center-btn {
    margin-top: 69px;
    text-align: center;
    .btn {
      width: 268px;
      height: 55px;
      background-color: #d60110;
      border-color: #d60110;
      color: #fff;
      font-size: 20px;
    }
  }
}

.elite-lecturer {
  height: 820px;
  background: url('../images/lecturer_module_bg.png') no-repeat;
  background-size: cover;
  .title {
    height: 233px;
    text-align: center;
    padding-top: 66px;
    h2 {
      color: #fff;
      font-size: 28px;
    }
    hr {
      width: 124px;
      height: 2px;
      background-color: #fff;
      margin: 30px auto 20px auto;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
  }
  .lecturer-list {
    height: 398px;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;

    .box {
      display: inline-block;
      padding-top: 60px;
      .bar {
        float: left;
        color: #fff;
        font-size: 28px;
        margin-top: 122px;
        &.bar-l {
          margin-right: 50px;
        }
        &.bar-r {
          margin-left: 50px;
        }
      }
      .lecturer-item {
        float: left;
        width: 196px;
        height: 280px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        &.m-0-22 {
          margin: 0 22px;
        }
        .photo {
          margin-top: 12px;
          width: 132px;
          height: 132px;
          overflow: hidden;
          border-radius: 50%;
          margin-bottom: 24px;
          display: inline-block;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          font-size: 18px;
          line-height: 18px;
          margin-bottom: 14px;
        }
        .intro {
          line-height: 20px;
          padding: 0 10px;
        }
      }
    }
  }
  .go-more-lecturers {
    text-align: center;
    .btn {
      width: 268px;
      height: 55px;
      background-color: #d60110;
      border-color: #d60110;
      color: #fff;
      font-size: 20px;
      margin-top: 80px;
    }
  }
}

// 睿选优课20年
.high-quality-lessons {
  height: 1174px;
  background-color: #e6e6e6;
  .title {
    height: 259px;
    padding-top: 70px;
    text-align: center;
    & > h2 {
      color: #211912;
      font-size: 28px;
    }
    & > hr {
      width: 128px;
      border-top-width: 2px;
      border-color: #909091;
      margin: 30px auto 20px auto;
    }
    & > p {
      color: #585757;
    }
  }
  .content {
    .btn-group-box {
      width: 100%;
      margin-bottom: 20px;
      // 推荐课程 tabs 页签
      #recommendedCourseTab {
        width: 836px;
        margin: 0 auto;
        a {
          height: 47px;
          background-color: #cdcdce;
          color: #595858;
          font-size: 18px;
          text-align: center;
          margin: 0 1px;
        }
        .active a {
          color: #fff;
          background-color: #d60110;
          border-color: #d60110;
        }
      }
    }
    .show-info {
      height: 726px;
      background-color: #fff;
      padding: 20px 32px;
      .tab-c-l {
        width: 840px;
        height: 604px;
        padding-top: 40px;
        float: left;
        // 推荐学习
        #recommendedCourseTabPane1 {
          .category {
            width: 256px;
            float: left;
            margin-right: 35px;
            &:last-child {
              margin-right: 0;
            }
            .tit {
              position: relative;
              margin-bottom: 40px;
              img {
                width: 100%;
                height: 104px;
              }
              p {
                width: 100%;
                font-size: 20px;
                color: #fff;
                position: absolute;
                top: 38px;
                left: 0;
                text-align: center;
              }
            }
            .lesson-list {
              &:hover {
                background-color: #eee;
              }
              .list-item {
                line-height: 30px;
                height: 71px;
                margin-bottom: 30px;
                border-bottom: 1px solid #ddd;
                .line1 {
                  height: 30px;
                  font-size: 16px;
                  color: #000;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .line2 {
                  color: #585757;
                  & > a {
                    float: right;
                    height: 24px;
                    width: 84px;
                    margin-top: 3px;
                    text-align: center;
                    background-color: #d50212;
                    color: #fff;
                    line-height: 24px;
                    border-radius: 12px;
                  }
                }
              }
            }
          }
        }
      }
      .tab-c-r {
        width: 240px;
        float: right;
        .hot-lessons {
          float: right;
          height: 100%;
          h3 {
            font-size: 20px;
            line-height: 40px;
            color: #d60110;
            text-align: center;
          }
          .hot-lesson-list {
            height: 540px;
            .list-item {
              & > img {
                width: 240px;
                height: 140px;
                background-color: red;
              }
              & > p {
                width: 240px;
                color: #595858;
                line-height: 30px;
                margin-bottom: 15px;
                text-align: center;
              }
            }
          }
          .hot-lesson-pagination .nav .active a {
            color: #fff;
            background-color: #d60110;
            border-color: #d60110;
          }
        }
      }
      // 去选课中心或查看更多
      .go-select-lesson-center {
        text-align: center;
        .btn {
          width: 268px;
          height: 55px;
          background-color: #d60110;
          border-color: #d60110;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
}

// 学习平台
.study-platform {
  height: 722px;
  background: url('../images/study_paltform_bg.png') no-repeat;
  background-size: cover;
  .title {
    height: 233px;
    text-align: center;
    padding-top: 60px;
    & > h2 {
      color: #fff;
      font-size: 28px;
    }
    & > hr {
      width: 128px;
      border-top-width: 2px;
      border-color: #fff;
      margin: 30px auto 20px auto;
    }
    & > p {
      color: #fff;
    }
  }
  .platform-list {
    height: 299px;
    background-color: rgba(0, 0, 0, 0.45);
    .container {
      padding-top: 80px;
      .list-item {
        width: 239px;
        height: 137px;
        background-color: #fff;
        float: left;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .divide {
        float: left;
        width: 1px;
        height: 137px;
        background-color: #b9b9b9;
      }
    }
  }
  .go-more-btn {
    text-align: center;
    .btn {
      width: 268px;
      height: 55px;
      background-color: #d60110;
      border-color: #d60110;
      color: #fff;
      font-size: 20px;
      margin-top: 80px;
    }
  }
}

// 一站式解决方案
.one-stop-solution {
  height: 774px;
  background-color: #e6e6e6;
  .title {
    height: 253px;
    padding-top: 66px;
    text-align: center;
    & > h2 {
      color: #231915;
      font-size: 28px;
    }
    & > hr {
      width: 128px;
      border-top-width: 2px;
      border-color: #909091;
      margin: 30px auto 20px auto;
    }
    & > p {
      font-size: 16px;
      color: #231915;
    }
  }
  .solution-list {
    .list-item {
      width: 300px;
      height: 430px;
      text-align: center;
      float: left;
      &:nth-child(1) {
        background: url('../images/one_stop_solution_01.png') no-repeat;
      }
      &:nth-child(2) {
        background: url('../images/one_stop_solution_02.png') no-repeat;
      }
      &:nth-child(3) {
        background: url('../images/one_stop_solution_03.png') no-repeat;
      }
      &:nth-child(4) {
        background: url('../images/one_stop_solution_04.png') no-repeat;
      }
      & > img {
        margin-bottom: 56px;
        width: 70px;
        height: 70px;
        margin-top: 140px;
      }
      & > p {
        font-size: 26px;
        font-weight: 600;
        color: #fff;
      }
    }
  }
}

// 企业合作伙伴
.enterprise-partner {
  height: 874px;
  background: url('../images/enterprise_partner_bg.png') no-repeat;
  background-size: cover;
  margin-bottom: 2px;
  .title {
    padding-top: 60px;
    height: 234px;
    text-align: center;
    & > h2 {
      color: #fff;
      font-size: 28px;
    }
    & > hr {
      width: 128px;
      border-top-width: 2px;
      border-color: #fff;
      margin: 30px auto 20px auto;
    }
    & > p {
      font-size: 16px;
      color: #fff;
    }
  }
  .btn-box {
    text-align: center;
    margin-bottom: 55px;
    .btn {
      width: 352px;
      height: 55px;
      background-color: #d60110;
      border-color: #d60110;
      color: #fff;
      font-size: 20px;
    }
  }
  .partners {
    .partner-intro {
      float: left;
      width: 429px;
      height: 463px;
      border: 1px solid #918d85;
      background-color: #c4cccc;
      color: #575757;
      text-align: center;
      padding: 25px;
      .enterprise-logo {
        display: inline-block;
        width: 168px;
        height: 168px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 44px;
        & > img {
          width: 100%;
          height: 100%;
          // background: red;
        }
      }
      h3 {
        font-size: 20px;
        color: #000;
        line-height: 30px;
      }
      .line {
        height: 2px;
        border-bottom: 2px dashed #9ca4a4;
        margin: 30px 0 20px 0;
      }
      p {
        text-align: left;
        color: #575757;
        line-height: 26px;
      }
    }
    .partner-list {
      width: 771px;
      float: left;
      .partner-item {
        width: 237px;
        height: 141px;
        margin-left: 20px;
        margin-bottom: 20px;
        float: left;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// ----------------------- 页面内容部分样式-END ---------------------------
