<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>选课中心</title>
    <!-- 引入 bootstrap 样式 -->
    <link rel="stylesheet" href="../lib/bootstrap@3/css/bootstrap.min.css" />
    <!-- 引入字体图标 fontAwesome -->
    <link
      rel="stylesheet"
      href="../lib/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!-- 引入全局样式 -->
    <link rel="stylesheet" href="../sass/global.css" />
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../sass/common.css" />
    <!-- 引入界面样式 -->
    <link rel="stylesheet" href="../sass/lesson.css" />

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- 头部导航部分 -->
    <header id="header">
      <div class="container">
        <!-- 左侧导航 -->
        <div class="left-nav">
          <!-- logo -->
          <div class="logo">
            <a href="/pages/index.html"
              ><img src="../images/logo.png" alt="logo"
            /></a>
          </div>
          <!-- nav -->
          <ul class="link-list">
            <li class="link-item">
              <a href="/pages/index.html">首页</a>
            </li>
            <li class="divider"></li>
            <li class="link-item active select-lesson-center">
              <a href="/pages/lesson.html">选课中心</a>
              <div class="link-item-mask">
                <!-- 标签 -->
                <ul class="categorys clearfix"></ul>
                <!-- 推荐课 -->
                <ul class="recommend-list"></ul>
              </div>
            </li>
            <li class="divider"></li>
            <li class="link-item"><a href="#">研究中心</a></li>
            <li class="divider"></li>
            <li class="link-item"><a href="#">睿选活动</a></li>
            <li class="divider"></li>
            <li class="link-item"><a href="#">干货资讯</a></li>
            <li class="divider"></li>
            <li class="link-item"><a href="#">关于睿选优课</a></li>
          </ul>
        </div>
        <!-- 右侧搜索 -->
        <div class="right-nav">
          <div class="phone-number"><span>400- 921- 0939</span></div>
          <div class="input-group search-inp">
            <input
              type="text"
              class="form-control"
              placeholder="输入想搜索的关键词"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </header>

    <!-- 主要内容部分 -->
    <main>
      <!-- 轮播图 -->
      <section class="main-pic">
        <div class="box">
          <a href="#">
            <img src="../images/banner_01.jpg" alt="banner_01" />
          </a>
        </div>
      </section>

      <div class="container lesson-c">
        <!-- 热门好课 -->
        <section class="hot-good-lesson" id="hotGoodCourses">
          <h2>热门好课</h2>
          <ul class="recommend-lesson-list"></ul>
        </section>

        <!-- 搜索课程 -->
        <section class="search-lessons">
          <!-- 课程类型 -->
          <div class="search-type">
            <ul
              id="lessonType"
              class="nav nav-pills nav-justified"
              role="pilllist"
            >
              <li role="presentation" class="active">
                <a
                  href="#GENERAL"
                  aria-controls="GENERAL"
                  role="tab"
                  data-toggle="tab"
                  data-type="GENERAL"
                  >综合</a
                >
              </li>
              <li role="presentation">
                <a
                  href="#FACE"
                  aria-controls="FACE"
                  role="tab"
                  data-toggle="tab"
                  data-type="FACE"
                  >线下课程</a
                >
              </li>
              <li role="presentation">
                <a
                  href="#ONLINE"
                  aria-controls="ONLINE"
                  role="tab"
                  data-toggle="tab"
                  data-type="ONLINE"
                  >在线课程</a
                >
              </li>
              <li role="presentation">
                <a
                  href="#PRO"
                  aria-controls="PRO"
                  role="tab"
                  data-toggle="tab"
                  data-type="PRO"
                  >职业认证</a
                >
              </li>
            </ul>
          </div>
          <!-- 筛选条件 -->
          <form class="filter-condition">
            <!-- 开课时间 -->
            <div class="form-group clearfix" id="filterMonth">
              <div class="filter-label">开课时间：</div>
              <div class="active all tag" data-tag="all">全部</div>
              <div class="tags">
                <ul class="clearfix">
                  <li class="tag" data-tag="1" data-code="1">1月</li>
                  <li class="tag" data-tag="2" data-code="2">2月</li>
                  <li class="tag" data-tag="3" data-code="3">3月</li>
                  <li class="tag" data-tag="4" data-code="4">4月</li>
                  <li class="tag" data-tag="5" data-code="5">5月</li>
                  <li class="tag" data-tag="6" data-code="6">6月</li>
                  <li class="tag" data-tag="7" data-code="7">7月</li>
                  <li class="tag" data-tag="8" data-code="8">8月</li>
                  <li class="tag" data-tag="9" data-code="9">9月</li>
                  <li class="tag" data-tag="10" data-code="10">10月</li>
                  <li class="tag" data-tag="11" data-code="11">11月</li>
                  <li class="tag" data-tag="12" data-code="12">12月</li>
                </ul>
              </div>
            </div>
            <!-- 课程类型 -->
            <div class="form-group clearfix" id="courseCategory">
              <div class="filter-label">课程类别：</div>
              <div class="active all tag" data-tag="all">全部</div>
              <ul class="tags h24 clearfix"></ul>
              <div class="more">
                更多&nbsp;<i class="glyphicon glyphicon-menu-down"></i>
              </div>
            </div>
            <!-- 专业方向 -->
            <div class="form-group clearfix" id="productDirection">
              <div class="filter-label">专业方向：</div>
              <div class="active all tag" data-tag="all">全部</div>
              <ul class="tags h24 clearfix"></ul>
              <div class="more">
                更多&nbsp;<i class="glyphicon glyphicon-menu-down"></i>
              </div>
            </div>
            <!-- 职业认证 -->
            <div class="form-group clearfix" id="professionalCertify">
              <div class="filter-label">职业认证：</div>
              <div class="active all tag" data-tag="all">全部</div>
              <ul class="tags h24 clearfix"></ul>
              <div class="more">
                更多&nbsp;<i class="glyphicon glyphicon-menu-down"></i>
              </div>
            </div>
            <!-- 开课城市 -->
            <div class="form-group clearfix" id="filterCity">
              <div class="filter-label">上课城市：</div>
              <div class="active all tag" data-tag="all">全部</div>
              <div class="tags">
                <ul class="clearfix">
                  <li class="tag" data-tag="上海" data-code="上海">上海</li>
                  <li class="tag" data-tag="苏州" data-code="苏州">苏州</li>
                  <li class="tag" data-tag="北京" data-code="北京">北京</li>
                  <li class="tag" data-tag="天津" data-code="天津">天津</li>
                  <li class="tag" data-tag="广州" data-code="广州">广州</li>
                  <li class="tag" data-tag="深圳" data-code="深圳">深圳</li>
                  <li class="tag" data-tag="杭州" data-code="杭州">杭州</li>
                  <li class="tag" data-tag="南京" data-code="南京">南京</li>
                  <li class="tag" data-tag="昆山" data-code="昆山">昆山</li>
                  <li class="tag" data-tag="无锡" data-code="无锡">无锡</li>
                  <li class="tag" data-tag="宁波" data-code="宁波">宁波</li>
                  <li class="tag" data-tag="其他" data-code="其他">其他</li>
                </ul>
              </div>
            </div>
            <!-- 价格 -->
            <div class="form-group clearfix" id="filterPrice">
              <div class="filter-label">价格：</div>
              <div class="active all tag" data-tag="all">全部</div>
              <div class="tags">
                <ul class="clearfix">
                  <li class="tag" data-tag="0,5000" data-code="0,5000">
                    &lt;5000元
                  </li>
                  <li class="tag" data-tag="5000,10000" data-code="5000,10000">
                    5000-10000元
                  </li>
                  <li class="tag" data-tag="10000," data-code="10000,">
                    10000元以上
                  </li>
                </ul>
              </div>
            </div>
          </form>
          <!-- 搜索结果 -->
          <div class="content clearfix">
            <div class="c-l">
              <div class="header">
                <div class="txt">全部</div>
                <div class="input-group search-inp">
                  <input
                    type="text"
                    class="form-control inp"
                    placeholder="输入想搜索的关键词"
                  />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="search-content">
                <!-- 课程列表 -->
                <div id="courseList"></div>
                <!-- 分页 -->
                <div class="course-paginator">
                  <ul id="coursePaginator"></ul>
                </div>
              </div>
            </div>
            <!-- 热门网课 -->
            <div class="c-r" id="bestSellingCourse">
              <h3>畅销网课</h3>
              <ul class="hot-course"></ul>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- 页脚 -->
    <footer id="footer">
      <section class="other-info">
        <div class="container">
          <div class="other-links">
            <dl>
              <dt>学习平台</dt>
              <dd><a href="#">面授课程</a></dd>
              <dd><a href="#">在线课程</a></dd>
              <dd><a href="#">职业认证</a></dd>
            </dl>
            <dl>
              <dt>研究中心</dt>
              <dd><a href="#">课程研究</a></dd>
              <dd><a href="#">最新报告</a></dd>
            </dl>
            <dl>
              <dt>睿选活动</dt>
              <dd><a href="#">近期活动</a></dd>
              <dd><a href="#">往期回顾</a></dd>
            </dl>
            <dl>
              <dt>睿选资讯</dt>
              <dd><a href="#">政策前沿</a></dd>
              <dd><a href="#">案例实践</a></dd>
              <dd><a href="#">对话高管</a></dd>
              <dd><a href="#">睿选视角</a></dd>
            </dl>
            <dl>
              <dt>关于睿选优课</dt>
              <dd><a href="#">公司简介</a></dd>
              <dd><a href="#">合作客户</a></dd>
            </dl>
            <div class="contact-type">
              <!-- 公众号、联系老师 -->
              <div class="pic">
                <div class="wxChat">
                  <i class="fa fa-wechat"></i>
                  <div class="ewm">
                    <img src="" alt="" />
                    <p>扫一扫，关注微信公众号</p>
                  </div>
                </div>
                <div class="consult-teacher">
                  <i class="fa fa-headphones"></i>
                  <div class="ewm">
                    <img src="" alt="" />
                    <p>扫一扫，咨询老师</p>
                  </div>
                </div>
              </div>
              <!-- 电话、邮箱、地址 -->
              <dl>
                <dt>客服：400-921-0939</dt>
                <dd>（周一至周五 8:30-17:30）</dd>
                <dd>Service@sino-bestway.com.cn</dd>
                <dd>总部地址：上海市静安区恒丰路568号恒汇国际大厦7楼</dd>
              </dl>
            </div>
          </div>
        </div>
      </section>
      <section class="friendly-link">
        <div class="container">
          <div class="content">
            <div class="links">
              <span class="title">友情链接</span>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程链接</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程</a>
              <a href="#">睿选优课课程链接</a>
            </div>
            <div class="copy-right">
              Copyright Bestway. All Rights Reserved. 百仕瑞企业管理顾问有限公司
              版权所有 沪ICP备13015846号-3
              <img src="../images/copy_right.jpg" alt="" />
            </div>
          </div>
        </div>
      </section>
    </footer>

    <!-- 返回顶部 -->
    <div id="return-top">
      <a href="#">返回顶部</a>
    </div>

    <!-- -------------------------------模板片段 START--------------------------------------- -->
    <!-- 选课中心--标签 -->
    <script id="selectProductCenterTmp" type="text/html">
      <!-- 标签分类 -->
      {{ set productList = product && product.length > 0 ? product : [] }}
      {{each productList category idx1}}
      <li class="category">
        <h3>{{category.barName || '-'}}</h3>
        <hr />
        <ul class="first-class-list">
          {{set levelChildrenModelList = category.levelChildrenModelList}}
          {{each levelChildrenModelList firstClass idx2 }}
          <li class="first-class-list-item clearfix">
            <div class="first-class-name">{{firstClass.firstClassName}}</div>
            <div class="second-class-list row {{idx1 == 2 ? 'certify' : ''}}">
              {{set secondClassList = firstClass.secondClassList}} {{each
              secondClassList secondClass idx3}}
              <div
                class="{{idx1 != 2 ? 'col-md-6 txt-ellipsis' : 'col-md-12 txt-ellipsis'}}"
              >
                {{if idx1 === 0}}
                <a
                  href="{{`/pages/lesson.html?lessonType=FACE&firstTag=${firstClass.firstClassName}&secondTag=${secondClass}`}}"
                  >{{secondClass || '-'}}</a
                >
                {{else if idx1 === 1}}<a
                  href="{{`/pages/lesson.html?lessonType=ONLINE&firstTag=${firstClass.firstClassName}&secondTag=${secondClass}`}}"
                  >{{secondClass || '-'}}</a
                >
                {{else if idx1 === 2}}
                <a
                  href="{{`/pages/lesson.html?lessonType=PRO&supplyTag=${firstClass.firstClassName}`}}"
                  >{{secondClass || '-'}}</a
                >{{/if}}
              </div>
              {{/each}}
            </div>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </script>
    <!-- 选课中心--推荐课 -->
    <script id="selectProductRecommand" type="text/html">
      {{each courses item idx}}
      <li class="recommend-list-item">
        <a href="{{`/pages/lessonDetail.html?productId=${item.productId}`}}">
          <img src="{{item.imgUrl}}" alt="" />
        </a>
      </li>
      {{/each}}
    </script>
    <!-- 热门好课 -->
    <script id="hotGoodCoursesTmp" type="text/html">
      {{each courses item idx}}
      <li class="recommend-lesson-item">
        <div class="img">
          <a href="{{`/pages/lessonDetail.html?productId=${item.productId}`}}">
            <img src="{{item.imgUrl}}" alt="" />
          </a>
        </div>
        <div class="name txt-ellipsis">{{item.productName || '-'}}</div>
        <div class="info">
          <span class="price">￥{{item.coursePrice || '-'}}</span>
          <a
            href="{{`/pages/lessonDetail.html?productId=${item.productId}`}}"
            class="detail"
            >详情</a
          >
        </div>
      </li>
      {{/each}}
    </script>
    <!-- 课程类别 -->
    <script id="courseCategoryTmp" type="text/html">
      {{each first_tag item idx}}
      <li
        class="tag"
        data-tag="{{item.labelName}}"
        data-code="{{item.labelCode}}"
      >
        {{item.labelName}}
      </li>
      {{/each}}
    </script>
    <!-- 专业方向 -->
    <script id="productDirectionTmp" type="text/html">
      {{each second_tag item idx}}
      <li
        class="tag"
        data-tag="{{item.labelName}}"
        data-code="{{item.labelCode}}"
      >
        {{item.labelName}}
      </li>
      {{/each}}
    </script>
    <!-- 职业认证 -->
    <script id="professionalCertifyTmp" type="text/html">
      {{each supply_tag item idx}}
      <li
        class="tag"
        data-tag="{{item.labelName}}"
        data-code="{{item.labelCode}}"
      >
        {{item.labelName}}
      </li>
      {{/each}}
    </script>
    <!-- 畅销网课 -->
    <script id="bestSellingCourseTmp" type="text/html">
      {{each courses item idx}}
      <li class="hot-course-item">
        <a href="{{`/pages/lessonDetail.html?productId=${item.productId}`}}">
          <div class="course-pic">
            <img src="{{item.imgUrl}}" alt="" />
          </div>
          <p class="course-name">{{item.productName || '-'}}</p>
        </a>
      </li>
      {{/each}}
    </script>
    <!-- 课程列表 -->
    <script id="courseListTmp" type="text/html">
      {{if lessonType !== 'ONLINE'}}
      <!-- 课程列表 -->
      <ul class="course-list">
        {{each list item idx}}
        <li class="course-item">
          <div class="info clearfix">
            <div class="info-l">
              <img src="{{item.headUrl}}" alt="" />
            </div>
            <div class="info-r">
              <a
                href="{{`/pages/lessonDetail.html?productId=${item.productId}`}}"
              >
                <h3>{{item.productName}}</h3>
              </a>
              <div class="c clearfix">
                <div class="course-feature">
                  <h4>课程特色：</h4>
                  <p>{{item.marketingCourseHighlight || '-'}}</p>
                </div>
                <div class="fit-object">
                  <h4>适合对象：</h4>
                  <p>{{item.trainingTarget || '-'}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 开课时间表 -->
          {{if item.courseOutList && item.courseOutList.length > 0}}
          <table>
            <tr>
              <th>开课时间</th>
              <th>地点</th>
              <th>价格</th>
              <th></th>
            </tr>
            {{each item.courseOutList item2 idx2}}
            <tr class="{{idx2 > 2 ? 'hide-part' : ''}}">
              <td>
                {{item2.startTimeStr === item2.endTimeStr ? item2.startTimeStr :
                `${item2.startTimeStr} 至 ${item2.endTimeStr}`}}
              </td>
              <td>{{item2.courseCity || '-'}}</td>
              <td>￥{{item2.coursePrice || '-'}}/人</td>
              <td>
                {{if item2.courseFlag === '报名'}}
                <a
                  href="{{`/pages/lessonDetail.html?productId=${item2.productId}`}}"
                >
                  {{item2.courseFlag}}</a
                >
                {{else}}
                <span class="isOverDue">{{item2.courseFlag}}</span>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </table>
          {{/if}}
          <!-- 超过3条展示更多按钮 -->
          {{if item.courseOutList && item.courseOutList.length > 3}}
          <div class="addTr">
            展开更多&nbsp;<i class="glyphicon glyphicon-menu-down"></i>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{else}}
      <!-- 在线课列表 -->
      <ul class="online-course-list clearfix">
        {{each list item idx}}
        <li class="course-item">
          <a href="{{`/pages/lessonDetail.html?productId=${item.productId}`}}">
            <div class="course-pic">
              <img src="{{item.headUrl}}" alt="" />
            </div>
            <p class="course-name txt-ellipsis">
              课程名称：{{item.productName || '-'}}
            </p>
            <p class="course-time">时长：{{item.trainingDuration || '-'}}</p>
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </script>
    <!-- -------------------------------模板片段 END--------------------------------------- -->

    <!-- 引入 jquery -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <!-- 引入 bootstrap 所有的 js 插件 -->
    <script src="../lib/bootstrap@3/js/bootstrap.min.js"></script>
    <!-- 引入分页插件 -->
    <script src="../lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <!-- 引入模板引擎插件 -->
    <script src="../lib/art-template/template-web.js"></script>
    <!-- 引入公共 js -->
    <script src="../js/common.js"></script>
    <!-- 引入 utils.js -->
    <script src="../js/utils.js"></script>
    <!-- 引入页面 js -->
    <script src="../js/lesson.js"></script>
  </body>
</html>
